@font-face {
    font-family: 'Poppins';
    src: url(font_family/Poppins-Bold.ttf);
   }
body{
    max-width: 775px;
    min-width: 375px;
}
.menu_bar{
    margin-top: 44px;
    width: 100%;
    height: 48px;
    display:flex;
    justify-content: space-between;
}
.logo{
    padding-top:14px;
    padding-bottom:14px;
    padding-left: 24px;
    font-family: "Poppins",sans-serif;
    font-style:"normal";
    font-weight: 700px;
    font-size: 18px;
    Line-height:20px;
    color: #6070FF;
    display:flex;
}
.menu_icon{
    padding:3%;
}
.intro{
    height: 587.1460571289062px;
    width: 462px;
    background: url(images/headershapes.png);
    background-repeat: no-repeat;
    background-size: 462px 587px;
    margin-top:12px;
  
}

.headline{
   padding-top: 102px;
   padding-left:24px;
   margin-right: 24px;
}

h2{
    color: #172B4D;
    font-family: "Poppins",sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;

}
p{  
    color: #344563;;
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;   
    margin-top:12px;
    line-height: 24px;    
}
.connect{ 
    color: #7F8CFF;
    font-family: 'Poppins',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    
}
.connect_menu{
    margin-top: 12px;
    width:170.17px;
    height: 20px;
    display: flex;
    justify-content: space-between;
}

.connect_menu img:hover {
    transform: translateY(-10%);
    color: purple;
}

