@font-face {
  font-family: 'Poppins';
  src: url(font_family/Poppins-Medium.ttf);
}

@font-face {
  font-family: 'Poppins-bold';
  src: url(font_family/Poppins-Bold.ttf);
}

body {
  min-width: 375px;
  max-width: 775px;
  background-color: #e5e5e5;
}

header {
  width: 375px;
  background-color: hsl(0, 0%, 100%);
}

section {
  border-radius: 0 px 25 px 0 px 0 px;
  width: 375px;
  display: flex;
  justify-content: center;
}

.headline {
  width: 375px;
  padding: 24px;
}

.ability {
  width: 375px;
  margin-top: 48px;
}

.about_me {
  padding-left: 24px;
}

.menubar1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  width: 84%;
  display: flex;
  justify-content: space-between;
}

.languages ul {
  display: inline;
  margin: 12px;
}

.language_name {
  margin-left: 16px;
  margin-top: 21px;
  margin-bottom: 21.72px;
}

.languages li {
  width: 90%;
  display: flex;
  margin-bottom: 12px;
  background-color: #f7f7f9;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.languages img {
  margin-left: 12px;
  margin-top: 9px;
  margin-bottom: 9.72px;
}

.menu_icon {
  padding: 3%;
}

h1 {
  color: #172b4d;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

p {
  color: #344563;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin-top: 12px;
  line-height: 24px;
}

.connect {
  color: #7f8cff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.connect_menu li {
  list-style-type: none;
}

.connect_menu {
  margin-top: 26px;
  width: 170.17px;
  height: 20px;
  margin-left: -2px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.connect_menu img:hover {
  transform: translateY(-10%);
  color: purple;
}

.resume button {
  display: flex;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #396df2;
  padding: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background-color: hsl(0, 0%, 100%);
}

.stylist {
  position: relative;
  font-family: 'Poppins-bold', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0 em;
  color: hsl(0, 0%, 0%);
  text-align: left;
}

.dropdown {
  position: absolute;
  margin-left: 50%;
}

.dropdown2 {
  position: absolute;
  margin-left: 67%;
}
